# Externe HTTPS-Adressen: identisch aus Browser und Cluster erreichbar.
S3_ENDPOINT=https://s3.REGION.amazonaws.com
S3_REGION=REGION
S3_BUCKET=BUCKET
# AWS Bucket-owner-enforced akzeptiert diese ACL; öffentliches Lesen per Policy.
# GRETL fällt bei leerem Wert auf private zurück, deshalb explizit setzen.
S3_ACL=bucket-owner-full-control
DOWNLOAD_BASE_URL=https://BUCKET.s3.REGION.amazonaws.com
PUBLICATION_MANIFEST_URL=https://BUCKET.s3.REGION.amazonaws.com/current.json
THEMEN_REPO_URL=https://github.com/sogis/datenportal-themenrepo.git
THEMEN_REPO_BRANCH=main
JENKINS_URL=https://daten.so.ch/jenkins/
JENKINS_ADMIN_ADDRESS=BETREIBER@example.invalid
JENKINS_ADMIN_USER=bjsvwzie
AD_DOMAIN=AD_DOMAIN_ERSETZEN
AD_SERVERS=AD_SERVER_ERSETZEN:3268
AD_BIND_NAME=AD_BIND_DN_ERSETZEN
THEMEN_REPO_CREDENTIALS_ID=themenrepo-git
